h4{
    text-align: center;
}

div{
    height: 100px;
    width: 400px;
    border: 2px solid black;
    /* position: relative;
    left: 420px; */
    text-align: center;
    margin: auto;
    
}
button{
    margin-left: 570px;
}